@model Services.OIDC_Management.Executes.UserModel.UserResponse

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Danh sách User</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="#">Dasboard</a></li>
                                <li class="breadcrumb-item active">Title</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">

                        <div class="modal-header p-2 bg-primary text-center text-white">
                            <h5 class="modal-title p-2 bg-primary text-center text-white" id="userModalLabel">
                                Thêm / Sửa Người dùng
                            </h5>
                        </div>

                        <div class="modal-body p-4 ">
                            <form id="userForm">
                                <div class="row p-3 bg-light rounded mb-3 border">
                                    <h5 class="fw-bold mb-3">Thông tin tài khoản</h5>

                                     <input type="hidden" id="userId" value="@Model.Id" />

                                    <div class="col-md-6 mb-3">
                                        <label for="userName" class="form-label">Họ và tên</label>
                                        <input type="text" class="form-control" id="userName"
                                               placeholder="Nhập họ và tên"
                                               value="@Model.UserName" required />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="userPassword" class="form-label">Mật khẩu</label>
                                        <input type="password" class="form-control" id="userPassword"
                                               placeholder="Nhập mật khẩu"
                                               @(string.IsNullOrEmpty(Model.Id) ? "required" : "") />
                                    </div>


                                    <div class="col-md-6 mb-3">
                                        <label for="userEmail" class="form-label">Email đăng nhập</label>
                                        <input type="email" class="form-control" id="userEmail"
                                               placeholder="Nhập email đăng nhập"
                                               value="@Model.Email" required />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="userPhone" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="userPhone"
                                               placeholder="Nhập số điện thoại"
                                               value="@Model.PhoneNumber" />
                                    </div>
                                </div>

                                <div class="row p-3 bg-light rounded mb-3 border">
                                    <h5 class="fw-bold mb-3">Cấu hình tài khoản</h5>

                                    <div class="col-md-6 mb-3">
                                        <label for="userRoles" class="form-label">Vai trò</label>
                                        <select class="form-select" id="userRoles" name="role">
                                            <option value="user">User</option>
                                            <option value="admin">Admin</option>
                                            <option value="manager">Manager</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="userStatus" class="form-label">Trạng thái</label>
                                        <select class="form-select" id="userStatus">
                                            <option value="1" @(Model.Status == 1 ? "selected" : "")>Hoạt động</option>
                                            <option value="0" @(Model.Status == 0 ? "selected" : "")>Tạm khóa</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="userProvider" class="form-label">Hình thức đăng nhập</label>
                                        <select class="form-select" id="userProvider">
                                            <option value="email">Email</option>
                                            <option value="google">Google</option>
                                        </select>
                                    </div>

                                 

                                    <div class="col-md-12 mb-3 form-check mt-2">
                                        <input type="checkbox" class="form-check-input" id="user2FA" />
                                        <label class="form-check-label" for="user2FA">Bật xác thực 2 lớp (2FA)</label>
                                    </div>
                                </div>

                                <div class="row p-3 bg-light rounded border">
                                    <h5 class="fw-bold mb-3">Thông tin hệ thống</h5>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label fw-semibold">Người tạo</label>
                                        <input type="text" class="form-control" id="createdBy" value="" readonly />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label fw-semibold">Người sửa</label>
                                        <input type="text" class="form-control" id="updatedBy" value="" readonly />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label fw-semibold">Ngày tạo</label>
                                        <input type="text" class="form-control" id="createdAt" value="" readonly />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label class="form-label fw-semibold">Ngày sửa</label>
                                        <input type="text" class="form-control" id="updatedAt" value="" readonly />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnCancelUser" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="button" id="btn-create-user" class="btn btn-primary">Lưu</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.dispatchEvent(new CustomEvent("componentLoaded", {
        detail: { script: "/js/user-action.js" }
    }));
</script>
